
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-578721304975246209.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-578721304975246209.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-578721304975246209.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-578721304975246209.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-578721304975246209.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-578721304975246209.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-578721304975246209.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-578721304975246209.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-578721304975246209.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-578721304975246209.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-578721304975246209.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-578721304975246209.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-578721304975246209.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-578721304975246209.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-578721304975246209.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-578721304975246209.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-578721304975246209.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-578721304975246209.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-578721304975246209.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-578721304975246209.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-578721304975246209.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-578721304975246209.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-578721304975246209.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-578721304975246209.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-578721304975246209.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-578721304975246209.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-578721304975246209.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-578721304975246209.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-578721304975246209.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-578721304975246209.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-578721304975246209.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-578721304975246209.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-578721304975246209.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-578721304975246209.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-578721304975246209.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-578721304975246209.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-578721304975246209.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-578721304975246209.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-578721304975246209.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-578721304975246209.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-578721304975246209.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-578721304975246209.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-578721304975246209.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-578721304975246209.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-578721304975246209.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-578721304975246209.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-578721304975246209.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-578721304975246209.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-578721304975246209 .gp-relative{position:relative}.gps-578721304975246209 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-578721304975246209 .gp-mb-0{margin-bottom:0}.gps-578721304975246209 .gp-inline-block{display:inline-block}.gps-578721304975246209 .gp-flex{display:flex}.gps-578721304975246209 .gp-grid{display:grid}.gps-578721304975246209 .\!gp-hidden{display:none!important}.gps-578721304975246209 .gp-hidden{display:none}.gps-578721304975246209 .gp-h-auto{height:auto}.gps-578721304975246209 .gp-h-full{height:100%}.gps-578721304975246209 .gp-w-full{width:100%}.gps-578721304975246209 .gp-max-w-full{max-width:100%}.gps-578721304975246209 .gp-flex-none{flex:none}.gps-578721304975246209 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-578721304975246209 .gp-flex-col{flex-direction:column}.gps-578721304975246209 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578721304975246209 .gp-duration-200{transition-duration:.2s}.gps-578721304975246209 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-578721304975246209 .tablet\:\!gp-hidden{display:none!important}.gps-578721304975246209 .tablet\:gp-hidden{display:none}.gps-578721304975246209 .tablet\:gp-h-auto{height:auto}.gps-578721304975246209 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-578721304975246209 .mobile\:\!gp-hidden{display:none!important}.gps-578721304975246209 .mobile\:gp-hidden{display:none}.gps-578721304975246209 .mobile\:gp-h-auto{height:auto}.gps-578721304975246209 .mobile\:gp-flex-none{flex:none}}.gps-578721304975246209 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(228, 228, 226)","type":"color"}},"uid":"i2l9ddf78e5b5"}' data-id="i2l9ddf78e5b5" id="i2l9ddf78e5b5" data-same-height-subgrid-container class="i2l9ddf78e5b5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_PRODUCT;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:none;--d-tablet:grid;--d-mobile:grid;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(228, 228, 226);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-w-i2l9ddf78e5b5 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"w-i2l9ddf78e5b5"}' data-id="w-i2l9ddf78e5b5" id="w-i2l9ddf78e5b5" data-same-height-subgrid-container class="w-i2l9ddf78e5b5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_PRODUCT;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-pOAkDLdfAXKQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="pOAkDLdfAXKQ"
      style="--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1755616188111 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto pOAkDLdfAXKQ"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1125" height="1350" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEyNSIgaGVpZ2h0PSIxMzUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTI1LTEzNTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExMjUiIGhlaWdodD0iMTM1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTEyNSIgaGVpZ2h0PSIxMzUwIiBmaWxsPSJ1cmwoI2ctMTEyNS0xMzUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTEyNSIgdG89IjExMjUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_578603559805780873-7cb7b892-fa45-41d2-9864-b7d158b29043.webp" | file_url }}" data-src="{{ "gempages_578603559805780873-7cb7b892-fa45-41d2-9864-b7d158b29043.webp" | file_url }}" data-srcset="{{ 'gempages_578603559805780873-7cb7b892-fa45-41d2-9864-b7d158b29043.webp' | file_url }} 768w, {{ 'gempages_578603559805780873-7cb7b892-fa45-41d2-9864-b7d158b29043.webp' | file_url }} 1024w, {{ 'gempages_578603559805780873-7cb7b892-fa45-41d2-9864-b7d158b29043.webp' | file_url }} 1440w"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1125/1350;--aspect-tablet:1125/1350;--aspect-mobile:1125/1350;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-578721304975246209 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vdyagh-ct/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=578603564503401112&sectionId=578721304975246209)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  