

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-578720958961943271.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-578720958961943271.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-578720958961943271.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-578720958961943271.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-578720958961943271.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-578720958961943271.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-578720958961943271.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-578720958961943271.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-578720958961943271.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-578720958961943271.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-578720958961943271.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-578720958961943271.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-578720958961943271.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-578720958961943271.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-578720958961943271.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-578720958961943271.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-578720958961943271.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-578720958961943271.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-578720958961943271.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-578720958961943271.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-578720958961943271.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-578720958961943271.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-578720958961943271.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-578720958961943271.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-578720958961943271.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-578720958961943271.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-578720958961943271.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-578720958961943271.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-578720958961943271.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-578720958961943271.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-578720958961943271.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-578720958961943271.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-578720958961943271.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-578720958961943271.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-578720958961943271.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-578720958961943271.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-578720958961943271.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-578720958961943271.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-578720958961943271.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-578720958961943271.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-578720958961943271.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-578720958961943271.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-578720958961943271.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-578720958961943271.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-578720958961943271.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-578720958961943271.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-578720958961943271.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-578720958961943271.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-578720958961943271.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-578720958961943271.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-578720958961943271.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-578720958961943271.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-578720958961943271.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-578720958961943271.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-578720958961943271.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-578720958961943271.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-578720958961943271.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-578720958961943271.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-578720958961943271.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-578720958961943271.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-578720958961943271.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-578720958961943271.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-578720958961943271.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-578720958961943271.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-578720958961943271.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-578720958961943271.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-578720958961943271.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-578720958961943271.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-578720958961943271.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-578720958961943271.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-578720958961943271.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-578720958961943271.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-578720958961943271.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-578720958961943271.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-578720958961943271.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-578720958961943271.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-578720958961943271.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-578720958961943271.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-578720958961943271.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-578720958961943271.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-578720958961943271.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-578720958961943271.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-578720958961943271.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-578720958961943271.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-578720958961943271.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-578720958961943271.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-578720958961943271.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-578720958961943271.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-578720958961943271.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-578720958961943271.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-578720958961943271.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-578720958961943271.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-578720958961943271.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-578720958961943271.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-578720958961943271.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-578720958961943271.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-578720958961943271.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-578720958961943271.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-578720958961943271 .gp-relative{position:relative}.gps-578720958961943271 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-578720958961943271 .gp-mb-0{margin-bottom:0}.gps-578720958961943271 .gp-flex{display:flex}.gps-578720958961943271 .gp-inline-flex{display:inline-flex}.gps-578720958961943271 .gp-grid{display:grid}.gps-578720958961943271 .\!gp-hidden{display:none!important}.gps-578720958961943271 .gp-hidden{display:none}.gps-578720958961943271 .gp-h-full{height:100%}.gps-578720958961943271 .gp-w-full{width:100%}.gps-578720958961943271 .\!gp-max-w-none{max-width:none!important}.gps-578720958961943271 .gp-max-w-full{max-width:100%}.gps-578720958961943271 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-578720958961943271 .gp-flex-col{flex-direction:column}.gps-578720958961943271 .gp-flex-wrap{flex-wrap:wrap}.gps-578720958961943271 .gp-items-center{align-items:center}.gps-578720958961943271 .gp-justify-center{justify-content:center}.gps-578720958961943271 .gp-overflow-hidden{overflow:hidden}.gps-578720958961943271 .gp-break-words{overflow-wrap:break-word}.gps-578720958961943271 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-578720958961943271 .gp-leading-\[0\]{line-height:0}.gps-578720958961943271 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-578720958961943271 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-578720958961943271 .gp-no-underline{text-decoration-line:none}.gps-578720958961943271 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578720958961943271 .gp-duration-200{transition-duration:.2s}.gps-578720958961943271 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578720958961943271 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-578720958961943271 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-578720958961943271 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-578720958961943271 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-578720958961943271 .tablet\:\!gp-hidden{display:none!important}.gps-578720958961943271 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-578720958961943271 .mobile\:\!gp-hidden{display:none!important}.gps-578720958961943271 .mobile\:gp-hidden{display:none}}.gps-578720958961943271 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-578720958961943271 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-578720958961943271 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-578720958961943271 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-578720958961943271 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-578720958961943271 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-578720958961943271 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-578720958961943271 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-578720958961943271 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWq4aYV1CM"}' data-id="gWq4aYV1CM" id="gWq4aYV1CM" data-same-height-subgrid-container class="gWq4aYV1CM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHoXaiPOrk gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF0F0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFF1nDfwrq"}' data-id="gFF1nDfwrq" id="gFF1nDfwrq" data-same-height-subgrid-container class="gFF1nDfwrq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:30px;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:#FFF0F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-tablet:1"
      class="gVhx1Gj5qb gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFF0F0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"grWIXgNnMD"}' data-id="grWIXgNnMD" id="grWIXgNnMD" data-same-height-subgrid-container class="grWIXgNnMD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:1px;--pt:32px;--pl:15px;--pb:32px;--mr-mobile:auto;--pt-mobile:21px;--pl-mobile:12px;--pb-mobile:28px;--pr-mobile:12px;--ml-tablet:1px;--mr-tablet:auto;--pt-tablet:32px;--pl-tablet:0px;--pb-tablet:32px;--pr-tablet:15px;--cg:8px;--gtc:minmax(0, 12fr);--w:600px;--w-tablet:600px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:#FFF0F0;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gF7f8gJyS3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKhZbteFGD"
        class="gKhZbteFGD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755507705540"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKhZbteFGD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gKhZbteFGD">
        .gKhZbteFGD {

}
.gKhZbteFGD p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gmTw0JMfpQ"}' data-id="gmTw0JMfpQ" id="gmTw0JMfpQ" data-same-height-subgrid-container class="gmTw0JMfpQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:16px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gbT3LVPfDv gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gTreQmNvJ2"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:left">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gkcWme8nOc ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gaw1r2t5jF" class="gp-leading-[0] gaw1r2t5jF" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gaw1r2t5jF" class="icon-wrapper gp-inline-flex gp-overflow-hidden gaw1r2t5jF " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="515765963237360790" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<rect width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.25163L2.57031 6.57908H6.71855L7.95013 2.57031L9.37618 6.57908H13.4275L7.95013 10.8341L10.4781 10.0534L11.5801 13.4275L7.95013 10.8341L4.61188 13.4275L5.90846 9.25163Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="glCVGgCieY ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g5op0I_VdL" class="gp-leading-[0] g5op0I_VdL" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g5op0I_VdL" class="icon-wrapper gp-inline-flex gp-overflow-hidden g5op0I_VdL " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="515765963237360790" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<rect width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.25163L2.57031 6.57908H6.71855L7.95013 2.57031L9.37618 6.57908H13.4275L7.95013 10.8341L10.4781 10.0534L11.5801 13.4275L7.95013 10.8341L4.61188 13.4275L5.90846 9.25163Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gjuOWBS0OQ ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g-C7_RHPe3" class="gp-leading-[0] g-C7_RHPe3" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g-C7_RHPe3" class="icon-wrapper gp-inline-flex gp-overflow-hidden g-C7_RHPe3 " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="515765963237360790" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<rect width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.25163L2.57031 6.57908H6.71855L7.95013 2.57031L9.37618 6.57908H13.4275L7.95013 10.8341L10.4781 10.0534L11.5801 13.4275L7.95013 10.8341L4.61188 13.4275L5.90846 9.25163Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gVV27Q6yvm ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g66x4zcZBN" class="gp-leading-[0] g66x4zcZBN" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g66x4zcZBN" class="icon-wrapper gp-inline-flex gp-overflow-hidden g66x4zcZBN " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="515765963237360790" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<rect width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.25163L2.57031 6.57908H6.71855L7.95013 2.57031L9.37618 6.57908H13.4275L7.95013 10.8341L10.4781 10.0534L11.5801 13.4275L7.95013 10.8341L4.61188 13.4275L5.90846 9.25163Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g2hJIzE8W0 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="glz-UyMayx" class="gp-leading-[0] glz-UyMayx" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="glz-UyMayx" class="icon-wrapper gp-inline-flex gp-overflow-hidden glz-UyMayx " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="515765963237360790" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<rect width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.25163L2.57031 6.57908H6.71855L7.95013 2.57031L9.37618 6.57908H13.4275L7.95013 10.8341L10.4781 10.0534L11.5801 13.4275L7.95013 10.8341L4.61188 13.4275L5.90846 9.25163Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g_HxOsau_3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYo3gW0gCn"
        class="gYo3gW0gCn"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755507705549"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYo3gW0gCn_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gYo3gW0gCn">
        .gYo3gW0gCn {

}
.gYo3gW0gCn p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdaztmoUB_"
        class="gdaztmoUB_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755507705551"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdaztmoUB__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUUcMre7Le"
        class="gUUcMre7Le"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755507705552"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:120%;--weight:bold;--c:#575757;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUUcMre7Le_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left" >
        <style>[data-id="gZYRz_eNko"].gp-button-base::before, [data-id="gZYRz_eNko-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gZYRz_eNko"]:hover::before, [data-id="gZYRz_eNko-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gZYRz_eNko" dataId="gZYRz_eNko" data-state="idle" aria-label="<p>Obțineți 50% reducere</p>"
          
          type="button"
          style="--w:278px;--w-tablet:278px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--bg:#8F79D8;--hvr-bg:#765CC9;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
          class="gZYRz_eNko gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggZYRz_eNko_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gZYRz_eNko">
        button.gZYRz_eNko {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdF4H7j_fD"
        class="gdF4H7j_fD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755507705565"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdF4H7j_fD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-tablet:0"
      class="gCRRSu1iJ0 gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="g3NrdfpdFZ" class="g3NrdfpdFZ !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--aspect:1/1;--aspect-mobile:1/1">
      
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-g3NrdfpdFZ" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/b1e07697647f41249dcc259fec0e023b.mp4" poster data-poster
      style="--aspect:1/1;--aspect-mobile:1/1"
      class="gp-w-full"
      
      loop
      muted
      autoplay
      playsinline
      src="https://cdn.shopify.com/videos/c/o/v/b1e07697647f41249dcc259fec0e023b.mp4"
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/b1e07697647f41249dcc259fec0e023b.mp4" src="https://cdn.shopify.com/videos/c/o/v/b1e07697647f41249dcc259fec0e023b.mp4" type="video/mp4"></source>
    </video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-578720958961943271 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vdyagh-ct/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=578603564503401112&sectionId=578720958961943271)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKhZbteFGD_text","label":"ggKhZbteFGD_text","default":"<p>You are pefect</p>"},{"type":"html","id":"ggYo3gW0gCn_text","label":"ggYo3gW0gCn_text","default":"<p><span style=\"font-size:15px;\">100,000+ Vândut</span></p>"},{"type":"html","id":"ggdaztmoUB__text","label":"ggdaztmoUB__text","default":"Rezistent la transfer. Rezistent la apă. Nu usucă buzele."},{"type":"html","id":"ggUUcMre7Le_text","label":"ggUUcMre7Le_text","default":"RUJ PERSISTENT PENTRU TOATĂ ZIUA"},{"type":"html","id":"ggZYRz_eNko_label","label":"ggZYRz_eNko_label","default":"<p>Obțineți 50% reducere</p>"},{"type":"html","id":"ggdF4H7j_fD_text","label":"ggdF4H7j_fD_text","default":"<p>Tehnologie brevetată Wonder Blading – premiată internațional</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
