
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-580333516932252660.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-580333516932252660.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-580333516932252660.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-580333516932252660.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-580333516932252660.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-580333516932252660.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-580333516932252660.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-580333516932252660.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-580333516932252660.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-580333516932252660.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-580333516932252660.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-580333516932252660.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-580333516932252660.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-580333516932252660.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-580333516932252660.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-580333516932252660.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-580333516932252660.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-580333516932252660.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-580333516932252660.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-580333516932252660.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-580333516932252660.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-580333516932252660.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-580333516932252660.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-580333516932252660.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-580333516932252660.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-580333516932252660.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-580333516932252660.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-580333516932252660.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-580333516932252660.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-580333516932252660.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-580333516932252660.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-580333516932252660.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-580333516932252660.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-580333516932252660.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-580333516932252660.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-580333516932252660.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-580333516932252660.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-580333516932252660.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-580333516932252660.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-580333516932252660.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-580333516932252660.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-580333516932252660.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-580333516932252660.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-580333516932252660.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-580333516932252660.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-580333516932252660.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-580333516932252660.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-580333516932252660.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-580333516932252660.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-580333516932252660.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-580333516932252660.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-580333516932252660.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-580333516932252660.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-580333516932252660.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-580333516932252660.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-580333516932252660.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-580333516932252660.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-580333516932252660.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-580333516932252660.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-580333516932252660.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-580333516932252660.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-580333516932252660.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-580333516932252660.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-580333516932252660.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-580333516932252660.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-580333516932252660.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-580333516932252660.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-580333516932252660.gps.gpsil [style*="--bg-mobile:"]{background:var(--bg-mobile)}.gps-580333516932252660.gps.gpsil [style*="--b-mobile:"]{border:var(--b-mobile)}.gps-580333516932252660.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-580333516932252660.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-580333516932252660.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-580333516932252660.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-580333516932252660.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-580333516932252660.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-580333516932252660.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-580333516932252660.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-580333516932252660.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-580333516932252660.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-580333516932252660.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-580333516932252660.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-580333516932252660.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-580333516932252660.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-580333516932252660.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-580333516932252660.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-580333516932252660.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-580333516932252660.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-580333516932252660 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-580333516932252660 .gp-absolute{position:absolute}.gps-580333516932252660 .gp-relative{position:relative}.gps-580333516932252660 .gp-top-0{top:0}.gps-580333516932252660 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-580333516932252660 .gp-mb-0{margin-bottom:0}.gps-580333516932252660 .gp-box-border{box-sizing:border-box}.gps-580333516932252660 .gp-inline-block{display:inline-block}.gps-580333516932252660 .gp-flex{display:flex}.gps-580333516932252660 .gp-grid{display:grid}.gps-580333516932252660 .gp-contents{display:contents}.gps-580333516932252660 .\!gp-hidden{display:none!important}.gps-580333516932252660 .gp-hidden{display:none}.gps-580333516932252660 .gp-h-auto{height:auto}.gps-580333516932252660 .gp-h-full{height:100%}.gps-580333516932252660 .gp-w-full{width:100%}.gps-580333516932252660 .gp-max-w-full{max-width:100%}.gps-580333516932252660 .gp-flex-none{flex:none}.gps-580333516932252660 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-580333516932252660 .gp-flex-col{flex-direction:column}.gps-580333516932252660 .gp-overflow-hidden{overflow:hidden}.gps-580333516932252660 .gp-rounded-\[4px\]{border-radius:4px}.gps-580333516932252660 .gp-bg-\[rgba\(0\, .gps-580333516932252660 0\, .gps-580333516932252660 0\, .gps-580333516932252660 0\.60\)\]{background-color:rgba(0,0,0,.6)}.gps-580333516932252660 .gp-px-2{padding-left:8px;padding-right:8px}.gps-580333516932252660 .gp-py-1{padding-bottom:4px;padding-top:4px}.gps-580333516932252660 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-580333516932252660 .gp-duration-200{transition-duration:.2s}.gps-580333516932252660 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-580333516932252660 .tablet\:\!gp-hidden{display:none!important}.gps-580333516932252660 .tablet\:gp-hidden{display:none}.gps-580333516932252660 .tablet\:gp-h-auto{height:auto}.gps-580333516932252660 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-580333516932252660 .mobile\:\!gp-hidden{display:none!important}.gps-580333516932252660 .mobile\:gp-hidden{display:none}.gps-580333516932252660 .mobile\:gp-h-auto{height:auto}.gps-580333516932252660 .mobile\:gp-flex-none{flex:none}}.gps-580333516932252660 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g2keAf7s6w"}' data-id="g2keAf7s6w" id="g2keAf7s6w" data-same-height-subgrid-container class="g2keAf7s6w gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:15px;--pb:64px;--pr:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="golDKrK915 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAH9u2dhVf"}' data-id="gAH9u2dhVf" id="gAH9u2dhVf" data-same-height-subgrid-container class="gAH9u2dhVf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gKMQfV2CQa gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gUrSLkN6kA"}' data-id="gUrSLkN6kA" id="gUrSLkN6kA" data-same-height-subgrid-container class="gUrSLkN6kA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:48px;--mb-mobile:28px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCKd2wFefH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggOFNuUUHm"
        class="ggOFNuUUHm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755596188532"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#8F79D8;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggOFNuUUHm_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gr0fKtoC25"}' data-id="gr0fKtoC25" id="gr0fKtoC25" data-same-height-subgrid-container class="gr0fKtoC25 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--cg:16px;--cg-mobile:10px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gIjSLu0ipT gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g7LHNjkEaW"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1755596188535 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g7LHNjkEaW"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_578603559805780873-27e1689f-668e-432e-a946-4d458a383d09.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iOTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgzLTkwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MyIgaGVpZ2h0PSI5MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODMiIGhlaWdodD0iOTAiIGZpbGw9InVybCgjZy04My05MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgzIiB0bz0iODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_578603559805780873-27e1689f-668e-432e-a946-4d458a383d09.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iOTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgzLTkwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MyIgaGVpZ2h0PSI5MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODMiIGhlaWdodD0iOTAiIGZpbGw9InVybCgjZy04My05MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgzIiB0bz0iODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_578603559805780873-27e1689f-668e-432e-a946-4d458a383d09.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iOTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgzLTkwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MyIgaGVpZ2h0PSI5MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODMiIGhlaWdodD0iOTAiIGZpbGw9InVybCgjZy04My05MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgzIiB0bz0iODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_578603559805780873-27e1689f-668e-432e-a946-4d458a383d09.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gSpMIROr9C gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gW9XRAf6jM"
        class="gW9XRAf6jM"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755596188537"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggW9XRAf6jM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gW9XRAf6jM">
        .gW9XRAf6jM {

}
.gW9XRAf6jM p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gUewKDtdFM"}' data-id="gUewKDtdFM" id="gUewKDtdFM" data-same-height-subgrid-container class="gUewKDtdFM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--cg:16px;--cg-mobile:10px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gIyv2fmbu3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gsqDFglEOF"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1755596188540 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsqDFglEOF"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_578603559805780873-2d35e065-d695-4dde-9dad-89ef44473598.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iOTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgzLTkwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MyIgaGVpZ2h0PSI5MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODMiIGhlaWdodD0iOTAiIGZpbGw9InVybCgjZy04My05MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgzIiB0bz0iODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_578603559805780873-2d35e065-d695-4dde-9dad-89ef44473598.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iOTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgzLTkwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MyIgaGVpZ2h0PSI5MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODMiIGhlaWdodD0iOTAiIGZpbGw9InVybCgjZy04My05MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgzIiB0bz0iODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_578603559805780873-2d35e065-d695-4dde-9dad-89ef44473598.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iOTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgzLTkwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MyIgaGVpZ2h0PSI5MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODMiIGhlaWdodD0iOTAiIGZpbGw9InVybCgjZy04My05MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgzIiB0bz0iODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_578603559805780873-2d35e065-d695-4dde-9dad-89ef44473598.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g33cfGiutn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDs8rEeiGp"
        class="gDs8rEeiGp"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755596188541"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDs8rEeiGp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gDs8rEeiGp">
        .gDs8rEeiGp {

}
.gDs8rEeiGp p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gHO6KLTN78"}' data-id="gHO6KLTN78" id="gHO6KLTN78" data-same-height-subgrid-container class="gHO6KLTN78 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:16px;--cg-mobile:10px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="golRbUcfbz gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gibChxmU1j"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1755596188544 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gibChxmU1j"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_578603559805780873-2df39215-3a56-4373-8b90-6de5dec688c1.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iOTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgzLTkwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MyIgaGVpZ2h0PSI5MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODMiIGhlaWdodD0iOTAiIGZpbGw9InVybCgjZy04My05MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgzIiB0bz0iODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_578603559805780873-2df39215-3a56-4373-8b90-6de5dec688c1.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iOTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgzLTkwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MyIgaGVpZ2h0PSI5MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODMiIGhlaWdodD0iOTAiIGZpbGw9InVybCgjZy04My05MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgzIiB0bz0iODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_578603559805780873-2df39215-3a56-4373-8b90-6de5dec688c1.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iOTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgzLTkwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MyIgaGVpZ2h0PSI5MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODMiIGhlaWdodD0iOTAiIGZpbGw9InVybCgjZy04My05MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgzIiB0bz0iODMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_578603559805780873-2df39215-3a56-4373-8b90-6de5dec688c1.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gyJQbGCcj- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gC6R7tCfVf"
        class="gC6R7tCfVf"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755596188551"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggC6R7tCfVf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gC6R7tCfVf">
        .gC6R7tCfVf {

}
.gC6R7tCfVf p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="ga6I_wZBPx gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px" class="gyuSnvfp7I ">
      
    <div class="gp-flex gp-w-full gp-overflow-hidden" style="border-radius:inherit">
      
    <gp-image-comparison
      data-id="gyuSnvfp7I"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gp-w-full gp-flex"
      gp-data='{"hover":false,"handle":null,"vertical":false,"leftImage":{"src":"https://cdn.shopify.com/s/files/1/0934/7216/2175/files/gempages_578603559805780873-a8b38d3c-2a23-4ff0-bab3-76ef19e50162.webp","width":444,"height":441,"storage":"FILE_CONTENT","backupFileKey":"gempages_578603559805780873-a8b38d3c-2a23-4ff0-bab3-76ef19e50162.webp","altText":"Describes the appearance of the image","imageTitle":"Title","preload":false},"rightImage":{"src":"https://cdn.shopify.com/s/files/1/0934/7216/2175/files/gempages_578603559805780873-ea531f94-e42d-4c36-ac34-3bd71089d17f.webp","width":443,"height":441,"storage":"FILE_CONTENT","backupFileKey":"gempages_578603559805780873-ea531f94-e42d-4c36-ac34-3bd71089d17f.webp","altText":"Describes the appearance of the image","imageTitle":"Title","preload":false},"handleSize":40,"aspectRatio":{"desktop":"16/9","mobile":"1"},"defaultRatio":"443/441","componentUid":"gyuSnvfp7I","leftImageCss":{},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5}'
    >
      <div id="img-comparison-wrapper-gyuSnvfp7I" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
        <div
          id="img-comparison-container-gyuSnvfp7I"
          data-testid="container"
          style="height:auto;overflow:hidden;position:relative;box-sizing:border-box;display:block;--aspect:16/9;--aspect-mobile:1"
        >
          
      <img alt="" src width="443" height="441" data-testid="temp-image" style="--pos:static;--op:0;--aspect:16/9;--aspect-mobile:1" />
    
          
    <img
      data-testid="right-image" width="2237" height="1678" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;,&quot;mobile&quot;:&quot;medium&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_578603559805780873-ea531f94-e42d-4c36-ac34-3bd71089d17f.webp" | file_url }}" data-src="{{ "gempages_578603559805780873-ea531f94-e42d-4c36-ac34-3bd71089d17f.webp" | file_url }}" data-srcset="{{ "gempages_578603559805780873-ea531f94-e42d-4c36-ac34-3bd71089d17f.webp" | file_url }}"
      id="right-image-gyuSnvfp7I"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover;--objf-mobile:cover"
      class="gp_lazyload"
    />
          
    <img
      data-testid="left-image" width="2237" height="1678" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;,&quot;mobile&quot;:&quot;medium&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_578603559805780873-a8b38d3c-2a23-4ff0-bab3-76ef19e50162.webp" | file_url }}" data-src="{{ "gempages_578603559805780873-a8b38d3c-2a23-4ff0-bab3-76ef19e50162.webp" | file_url }}" data-srcset="{{ "gempages_578603559805780873-a8b38d3c-2a23-4ff0-bab3-76ef19e50162.webp" | file_url }}"
      id="left-image-gyuSnvfp7I"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover;--objf-mobile:cover"
      class="gp_lazyload"
    />
          
    <div id="image-comparison-slider-gyuSnvfp7I" style="z-index:2;display:flex;position:absolute;align-items:center;justify-content:center;cursor:ew-resize;flex-direction:column;height:100%;width:40px">
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
      <div style="display:flex;flex:1 0 auto;align-items:center;box-sizing:border-box;justify-content:center;border-radius:100%;width:40px;height:40px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);transform:none;border:2px solid #ffffff">
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 2px 0 0"
            width="6" height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 0 0 2px"
            width="6"
            height="12"
            viewBox="0 0 6 12" fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
    </div>
  
          
    <div
      id="image-comparison-left-label-gyuSnvfp7I"
      
      class="gp-absolute gp-top-0 gp-h-full gp-w-full"
    >
      <style>
    #image-comparison-left-label-gyuSnvfp7I div, #image-comparison-right-label-gyuSnvfp7I div {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-1, line-1);
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      #image-comparison-left-label-gyuSnvfp7I div, #image-comparison-right-label-gyuSnvfp7I div {
        
        
      }
    }

    @media only screen and (max-width: 767px) {
      #image-comparison-left-label-gyuSnvfp7I div, #image-comparison-right-label-gyuSnvfp7I div {
        border-style: none;
  
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
    }
  </style>
      <div class="gp-g-paragraph-2 gp-absolute gp-box-border gp-rounded-[4px] gp-bg-[rgba(0,0,0,0.60)] gp-px-2 gp-py-1" style="opacity:1;left:8px;--b:none;--bc:var(--g-c-line-1, line-1);--bw:1px 1px 1px 1px;--b-mobile:none;--t:translateX(0) translateY(-50%);--t-tablet:translateX(0) translateY(-50%);--t-mobile:translateX(0) translateY(0);--pl:4px;--pr:4px;--pt:4px;--pb:4px;--top:50%;--top-tablet:50%;--top-mobile:8px;--bottom:auto;--bottom-tablet:auto;--bottom-mobile:auto;--bg:rgba(0, 0, 0, 0.60);--bg-mobile:rgba(0, 0, 0, 0.46);--c:#FFFFFF">
        {{ section.settings.ggyuSnvfp7I_leftImageLabel }}
      </div>
    </div>
  
          
    <div
      id="image-comparison-right-label-gyuSnvfp7I"
      
      class="gp-absolute gp-top-0 gp-h-full gp-w-full"
    >
      <style>
    #image-comparison-left-label-gyuSnvfp7I div, #image-comparison-right-label-gyuSnvfp7I div {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-1, line-1);
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      #image-comparison-left-label-gyuSnvfp7I div, #image-comparison-right-label-gyuSnvfp7I div {
        
        
      }
    }

    @media only screen and (max-width: 767px) {
      #image-comparison-left-label-gyuSnvfp7I div, #image-comparison-right-label-gyuSnvfp7I div {
        border-style: none;
  
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
    }
  </style>
      <div class="gp-g-paragraph-2 gp-absolute gp-box-border gp-rounded-[4px] gp-bg-[rgba(0,0,0,0.60)] gp-px-2 gp-py-1" style="opacity:1;right:8px;--b:none;--bc:var(--g-c-line-1, line-1);--bw:1px 1px 1px 1px;--b-mobile:none;--t:translateX(0) translateY(-50%);--t-tablet:translateX(0) translateY(-50%);--t-mobile:translateX(0) translateY(0);--pl:4px;--pr:4px;--pt:4px;--pb:4px;--top:50%;--top-tablet:50%;--top-mobile:8px;--bottom:auto;--bottom-tablet:auto;--bottom-mobile:auto;--bg:rgba(0, 0, 0, 0.60);--bg-mobile:rgba(0, 0, 0, 0.46);--c:#FFFFFF">
        {{ section.settings.ggyuSnvfp7I_rightImageLabel }}
      </div>
    </div>
  
        </div>
      </div>
    </gp-image-comparison>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-image-comparison-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-580333516932252660 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vdyagh-ct/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=578603564503401112&sectionId=580333516932252660)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gggOFNuUUHm_text","label":"gggOFNuUUHm_text","default":"Experiențe reale ale utilizatorilor"},{"type":"html","id":"ggW9XRAf6jM_text","label":"ggW9XRAf6jM_text","default":"<p>Chiar de la prima utilizare, buzele mele păreau mai pline și mai definite</p>"},{"type":"html","id":"ggDs8rEeiGp_text","label":"ggDs8rEeiGp_text","default":"<p>Am adorat faptul că nu se transferă și rămâne fix</p>"},{"type":"html","id":"ggC6R7tCfVf_text","label":"ggC6R7tCfVf_text","default":"<p>Buzele mele au rămas moi, nu le-a uscat deloc</p>"},{"type":"html","id":"ggyuSnvfp7I_leftImageLabel","label":"ggyuSnvfp7I_leftImageLabel","default":"Înainte"},{"type":"html","id":"ggyuSnvfp7I_rightImageLabel","label":"ggyuSnvfp7I_rightImageLabel","default":"După"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  